header 
{
    width: 100%;
    height: 40;
    position:static;
    left: 50;
    
    
    background-color: rgb(57, 30, 212);
    /* padding: 5px; */
}
.heading
{
    width: 100%;
    height: 40;  
    background-color: rgba(15, 15, 15, 0.568);
    color: rgb(250, 251, 255);
    padding-bottom: 5%;
}
h1{
    color:blue
}

p{
    font-size:larger;
    text-align: justify;
    
}
a
{ 
    width: 25%; 
    font-size: 17px;
    padding: 12px;
    text-align: center;
  text-decoration: none;
  color: rgb(253, 252, 252);
  
}
.moredetails
{
    color: rgb(58, 44, 255);
}

.homeimg
{ 
    position: unset;
    height: 400;
    width: 100%;
    /* opacity: 0.5; */
}

.searchbox
{
    position: relative;
    top: 0.5;
    left: 35.5%;
    height: 40;
    width: 75;
}
.searchtextbox
{
   position: relative;
    top: 0.5;
    left: 35.5%;
    height: 40;
    width: 250;
}

.active
{
    background-color: cornflowerblue;
}
.d3
{
    position: absolute;
    left: 25%;
    top: 25%;
    
    font-size: 50;
    font-family:'cursive','Times New Roman', Times, serif;
   
    color: rgba(8, 8, 8, 0.925);
}
.contactushead
{
    position: absolute;
    left: 35%;
    top: 30%;
    
    font-size: 50;
    font-family:'cursive','Times New Roman', Times, serif;
   
    color: rgba(8, 8, 8, 0.925);
}
.contactusbody
{
    
   background-color:#2883fa;
   background: linear-gradient(110deg, #3b9ffd 60%, #4bccff 60%);
   height:auto;
   width:80%;
   position: absolute;
   left: 10%;
   top: 79%;
   
   text-align:left;
   padding:2px;
   
   
}
.contactbodypg
{
    background-color:#0562ee;
    top: 79%;
   width:99%;
   height: 287.5%;
   text-align:center;
   padding:7px;
   float:left;
}
.content{
   padding-left: 5%;
   padding-right: 5%;
   font-style: italic;
}
.contenthead
{
    padding-left: 5%;
    font-style:normal;
    text-decoration-line: underline;
}
footer {
    
    background-color: rgba(14, 13, 13, 0.788);
    
  }
  .column {
    float: left;
    text-align: center;
    width: 27.3%;
    padding: 3%;
    color: cornsilk;
   height: 120px;
   background-color: rgba(14, 13, 13, 0.788);
}
.columnlast
{
    width: 93.9%;
    padding: 3%;
    height: 25px;
    float: left;
    text-align: center;
    background-color: rgba(14, 13, 13, 0.788);
    
    
}
.contentmanali
{
    padding-left: 10%;
    padding-right: 10%;
}
footer a:hover 
{
    color: #aaa;
    border-bottom:1px dotted #999;
   
  }
  .logocon a:hover 
  {
    color: rgb(231, 247, 10);
    border-bottom:1px double rgb(8, 8, 8);
  }
 

.imageincareer
{ 
    height: 70%;
    width: 70%;
}
.logodiv
        {
            
           
        height: 15%;
        width: 10%;
        position: initial;
        top: 20;
       }
       .logocon
       {
        
        height: 15%;
        width: 80%;
        position: absolute;
        top:8;
        left:15%;
        text-align: justify;
        font-size:60;
        text-transform: uppercase;
        text-decoration-style: wavy;
        
       }
.contactusinfo
{
    font-size:xx-large;
    text-align: center;
}

  
.imagequote
{
   
   position: absolute;
    top: 47%;
    left: 15%;
   
    font-size: 30;
    font-family:'cursive','Times New Roman', Times, serif;
   
    color: rgba(253, 250, 250, 0.925);
}
.loginpage {
    border-radius: 50px;
    background-color: rgba(148, 194, 247, 0.884);
    width: 200px;
    height: 200px;
    border: 10px solid rgba(0, 0, 0, 0.507);
    padding: 50px;
   margin-left: 550;
    margin-top:100;
    
  } 
  .side
  {
      position: fixed;
      right: -140px;
      top: 0px;
      width: 140px;
      height: 100%;
      background-color: cornflowerblue;
      z-index: 1;
      transition: 0.5s;
  }
.related{
    border-radius: 25px;
    background-color: rgba(148, 194, 247, 0.884);
    width: 900px;
    height: 600px;
    border: 10px solid rgba(0, 0, 0, 0.507);
    padding: 50px;
   margin-left: 170;
    margin-top:20;

}
.tourright
{
    height: 200%;
    width: 25%;
    position: initial;
    top: 20;
    /* background: #000; */
}
.tourcenter
{
    font-size:large;
       height: 100%;
       width:90%;
       position: relative;
       top:unset;
      left: 5%;
       padding-left: 5%;
      padding: 50px;
      padding-top: unset;
         /* background: rgba(15, 15, 15, 0.404);  */
}
.homecontent
{
    font-size:large;
       height: 100%;
       width: 73%;
       position: absolute;
       top:80%;
       right:10;
        /* background: blueviolet; */
}
  #fname,#lname
  {
    border-radius: 25px;
    width: 230;
    height:40 ;
    
  }
.booktour
{
    height: 80%;
    width: 25%;
    position: initial;
    top: 20;
    /* background-color: blue;   */
}
.bookingform
{
    height: 80%;
    width: 70%; 
    background-color: rgba(20, 20, 20, 0.733);
    position: relative;
    left: 15%;
}
.contactbodypd
{
    background-color:#f6f7f8;
    top: 79%;
   width:99%;
   height: 287.5%;
   text-align:center;
   padding:7px;
   float:left;
}
    
